[submodule "external/PieceChain"]
	path = external/PieceChain
	url = git@github.com:engineersbox/PieceChain
[submodule "external/notcurses"]
	path = external/notcurses
	url = git@github.com:dankamongmen/notcurses.git
	branch = v3.0.17
[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = git@github.com:tree-sitter/tree-sitter.git
	branch = v0.26.3
